/*colors*/
$dblue: #282828; // #2F5168;
$blue: 2A2929;//#5696bc;
$lblue: aliceblue;
$white: white;
$offwhite: #eee;
$lgrey: gainsboro;
$lborder:rgba(255, 255, 255, 0.15);

$hTop : 40px;
$hBottom : 30px;

@import "header";
@import "footer";
