/*colors*/
html {
  background-color: #282828; }

body {
  height: calc(100%-5px); }

#PageHeader {
  position: absolute;
  width: 100%;
  color: white;
  background-color: #282828;
  top: 0;
  left: 0;
  height: 40px; }

#Content {
  margin-top: 40px;
  overflow-y: scroll;
  position: static;
  display: inline-block;
  height: calc(100% - 40px);
  width: 100%; }

#UserInfoFooter {
  background-color: #282828;
  height: 40px;
  display: block;
  position: absolute;
  bottom: 0;
  color: #ddd;
  width: 100%;
  z-index: -1;
  margin-left: 10px; }

#MainMenuToggle {
  color: white !important;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2em;
  text-align: center;
  width: 200px;
  height: 40px;
  line-height: 40px;
  color: white;
  padding: 0;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.15); }

#MainMenuToggle.active {
  color: #282828 !important;
  background-color: white !important; }

#MainMenu {
  position: absolute;
  z-index: 2;
  top: 40px;
  width: 100%;
  height: calc(100% - 40px);
  opacity: 0.95;
  background-color: #282828; }
  #MainMenu.hidden {
    display: none;
    visibility: hidden; }

.ui.search.dropdown .menu.visible {
  height: 300px;
  max-height: none; }

#SecondNav .ui.buttons.basic .ui.button {
  box-shadow: none !important;
  border-left: 1px solid rgba(255, 255, 255, 0.15); }

#SecondNavToggle {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 40px; }

#SecondNav {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
  background-color: #282828;
  width: 100%;
  height: calc(100% - 40px);
  opacity: 0.9; }
  #SecondNav.hidden {
    visibility: hidden;
    display: none; }
  #SecondNav .buttons {
    float: right !important; }

#HdSearchPopup, #HdHelpPopup, #HdUserPopup, #HdLinksPopup {
  position: absolute;
  left: 0;
  top: 0;
  right: 100px;
  max-width: none;
  margin-top: 0; }
