/*colors*/
/*shared layout features*/
body {
  overflow: hidden; }

#PageHeader {
  position: absolute;
  width: 100%;
  color: white;
  top: 0;
  left: 0;
  height: 40px;
  background-color: #282828; }

#PageFooter {
  position: absolute;
  width: 100%;
  color: white;
  bottom: 0;
  left: 0;
  background-color: #282828;
  height: 30px; }

/* content */
#Content {
  position: absolute;
  top: 40px;
  padding: 10px;
  bottom: 40px;
  left: 0;
  right: 0; }

/* Default Layout  Settings */
#MobileNav {
  display: none; }

/* Shared Layout (Dektop, Mobile, Etc)*/
#MegaMenuTrigger {
  height: 40px;
  line-height: 40px;
  color: white;
  color: white !important;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2em;
  text-align: center;
  width: 200px;
  padding: 0; }

#MegaMenuTrigger.visible, #MegaMenuTrigger:hover {
  color: black !important;
  background-color: white !important; }

#HdSecondaryNav .ui.buttons.basic .ui.button {
  box-shadow: none !important;
  border-left: 1px solid rgba(255, 255, 255, 0.15); }

.hd-secondary-nav .popup {
  padding: 0; }

.hd-item .button {
  height: 40px; }

.hd-item .buttons {
  vertical-align: top; }

#SecondaryNavTrigger {
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: none !important;
  border: 1px solid rgba(255, 255, 255, 0.15);
  height: 40px;
  display: none;
  visibility: hidden; }

/* Destop Layout*/
@media (min-width: 769px) {
  .hd-header {
    display: flex;
    justify-content: space-between; }

  .hd-item {
    flex-shrink: 0;
    line-height: 40px; }

  .hd-item.hd-username {
    flex-shrink: 1; }

  /*#mmRight .item.a{
        padding-left: 0;
        padding-bottom: 2px;  
    }*/
  #TopMenuButtons .popup {
    padding: 0; }

  #TopMenuButtons .menu {
    margin: 0;
    text-align: left; }

  /* MegaMenu */
  #mmLeft, #mmMiddle, #mmRight {
    float: left;
    margin: 0;
    padding: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 100%; }
    .hidden#mmLeft, .hidden#mmMiddle, .hidden#mmRight {
      /*display:none;*/
      visibility: hidden;
      width: 0; }

  #MegaMenu {
    position: absolute;
    font-family: myriad-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 0;
    top: 40px;
    height: calc(100% - 40px);
    opacity: 0.9;
    background-color: white;
    z-index: 2; }

  .mega-menu-header-bar {
    width: 100%;
    height: 30px; }

  .ui.menu .item.hidden {
    display: none; }

  #mmLeft {
    width: 20%; }

  #mmMiddle {
    width: 30%; }

  #mmRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll; }
    #mmRight.right-full-width {
      width: 100%; }

  #NearbyPages {
    background-color: transparent;
    border: none;
    height: 20px;
    line-height: 20px;
    color: #ddd;
    cursor: pointer;
    width: 120px; }
    #NearbyPages:hover {
      color: gold; }
    #NearbyPages.hidden {
      height: 0;
      font-size: 0; }

  section#content {
    background-color: white;
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 40px;
    left: 300px;
    padding: 10px; }

  /* site.css sample content*/
  .hd-popup-content .popup {
    max-width: none; }
 }

@media (max-width: 768px) {
  section#content, #mobileNav, footer {
    display: block;
    float: left;
    position: static;
    width: 100%; }

  #content, #mobileNav {
    height: auto; }

  section#content {
    float: left;
    width: 100%; }

  #NearbyPages {
    display: none; }

  .hd-header .hd-item {
    display: inline-block; }

  .hd-secondary-nav {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
    background-color: #282828;
    width: 100%;
    height: 250px;
    opacity: 0.9; }
    .hd-secondary-nav.hidden {
      visibility: hidden;
      display: none; }
    .hd-secondary-nav .buttons {
      float: right !important; }

  .hd-popup-content {
    width: 100%; }
    .hd-popup-content #HdSearchPopup, .hd-popup-content #HdHelpPopup, .hd-popup-content #HdUserPopup, .hd-popup-content #HdLinksPopup {
      left: 0 !important;
      top: 0 !important;
      right: 100px !important;
      max-width: none;
      margin-top: 0; }

  #mobileNav {
    margin-top: 40px;
    background-color: 2A2929; }

  #mobileNav label {
    font-family: Tahoma;
    font-weight: bold;
    width: 80px; }

  #mobileNav .ui.search.dropdown {
    width: calc(100% - 90px); }

  #mobileNav .inline.field {
    margin-bottom: 5px; }

  #SecondaryNavTrigger {
    display: block;
    visibility: visible; }
 }
